.container {
    display: flex;
    gap: 20px;
}

.aside {
    max-height: 100vh;
    /* width: 300px; */
    padding: 10px;
    overflow: auto;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card {
    display: flex;
    font-size: 20px;
}

.item {
    cursor: pointer;
}

.item:hover {
    scale: 1.03;
}

.listImg {
    display: flex;
    align-items: center;
}
