.form {
    width: 100%;
    max-width: 420px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0px;
    color: #222222;
    box-shadow: var(--shadow);
    border-radius: 5px;
    background: var(--whtitColor);
}

.input {
    width: 320px;
    height: 52px;
    padding: 17px 20px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    background-color: white;
    box-shadow: var(--shadow);
    color: var(--mainColor);

}

.input__text {
    composes: input;
    min-height: 120px;
    margin-bottom: 20px;
    resize: none; 
}

.input:focus {
    outline: none;
}

.error {
    margin: 4px 0 0;
    font-size: 10px;
    color: #ff0000;
}
