.footer {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    width: 100%;
    padding: 25px 40px;
   
    background-color: var(--mainColor);
}

.wrapper_logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 60px;
}

.logoFooter {
    --logo-color: var(--whiteColor);
    width: 100px;
    height: 100px;
}

.name {
    font-family: 'Montserrat', sans-serif;
    color: var(--whiteColor);
    font-size: 28px;
}

.social {
    display: flex;
    margin-right: auto;
}

.social_item:not(:last-child) {
    margin-right: 40px;
}

.link_instagram, .link_facebook,
.link_email {
    height: 42px;
}

.about {
    display: flex;
    flex-direction: column;
    margin-right: 60px;
}

.about_text {
    font-size: 16px;
    color: var(--whiteColor);
    letter-spacing: 1.3px;
    transition: color 0.3s ease;
}

.about_nav {
    composes: about_text;
    font-size: 12px;   
}

.about_item:not(:last-child) {
    margin-bottom: 10px;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.wrapper_item:not(:last-child) {
    margin-bottom: 5px;
}

.wrapper_contacts {
    display: flex;
    align-items: center;
    
    color: var(--whiteColor);
    font-size: 16px;
    letter-spacing: 1.3px;
    transition: color 0.3s ease;
}

.wrapper_text {
    margin-left: 10px;
}